<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if logged_in %}
                        <li>
                            <a href="show_my_tasks">My tasks</a>
                        </li>
                        <li>
                            <a href="list_projects">My projects</a>
                        </li>
                        <li>
                            <a href="logout">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="login">Login</a>
                        </li>
                        <li>
                            <a href="signup">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>Login</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Login</button>
                </form>
            </div>
        </main>
    </body>
</html>
