<!DOCTYPE html>
<html>
    <head>
        <title>Project Detail</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if logged_in %}
                        <li>
                            <a href="show_my_tasks">My tasks</a>
                        </li>
                        <li>
                            <a href="list_projects">My projects</a>
                        </li>
                        <li>
                            <a href="logout">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="login">Login</a>
                        </li>
                        <li>
                            <a href="signup">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <h1>{{ project.name }}</h1>
            <p>{{ project.description }}</p>
            <p>
                <a href="{% url 'tasks:create_task' %}">Create a new task</a>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Due Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in project.task_set.all %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.description }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>
                                <a href="{% url 'tasks:update_task' task.id %}">Update</a> | <a href="{% url 'tasks:delete_task' task.id %}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
