<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>My Projects</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if logged_in %}
                        <li>
                            <a href="show_my_tasks">My tasks</a>
                        </li>
                        <li>
                            <a href="list_projects">My projects</a>
                        </li>
                        <li>
                            <a href="logout">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="login">Login</a>
                        </li>
                        <li>
                            <a href="signup">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>My Projects</h1>
                <p>
                    <a href="{% url 'create_project' %}">Create a new project</a>
                </p>
                {% if projects %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Number of tasks</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in projects %}
                                <tr>
                                    <td>
                                        <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                                    </td>
                                    <td>{{ project.tasks.all|length }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>You are not assigned to any projects</p>
                {% endif %}
            </div>
        </main>
    </body>
</html>
